
<style>
html, body {
  width: 100%;
}
.doneTodo {
  color: red;
  text-decoration: line-through;
}
</style>

<div class="w-full px-40 align-middle text-center items-center flex justify-center flex-col">
  <h1 class="text-3xl font-bold underline my-2">Todo List</h1>
  <div  class="flex flex-row">
    <input type="text" placeholder="Your doing today"
      [(ngModel)]="newTodo"
      class="w-64 my-2 p-2 border border-spacing-2">
    <button type="submit" class="bg-teal-300 rounded m-2 p-2" (click)="addTodo()">Add Todo</button>
  </div>
  <table class="w-[50%] my-2  border-teal-300 border-b-2">
    <tbody class="">
      <tr *ngFor="let todo of todos;let i = index;" class="border-white border-b-2 bg-slate-200">
        <th class="py-3 w-[10%] border-white border-x-2" scope="row">{{i+1}}</th>
        <td class="py-3 w-auto {{(todo.isComplete)?'doneTodo':''}}" (click)="doneTodo(i)">
          {{todo.name}}
        </td>
        <td class="text-red-500 w-[10%] py-3 cursor-pointer text-2xl" (click)="removeTodo(i)">x</td>
      </tr>
    </tbody>
  </table>
</div>


<router-outlet></router-outlet>
